<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: page-header"></div>
<div class="container body-content">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>



    <th:block th:each = "t1 : ${title}">
        <th:block  th:each = "job : ${jobs}">
            <table class="job-listing">
                <tr><td th:align="left" th:text="ID+': ' +${job.id}"></td></tr>
                <tr><td th:align="left" th:text="Name+': ' +${job.name}"></td></tr>
                <tr><td>Employer: <a th:href="@{/list/jobs(column='employer',value=${job.employer})}" th:text="${job.employer}"></a></td></tr>
                <tr><td>Location: <a th:href="@{/list/jobs(column='location',value=${job.location})}" th:text="${job.location}"></a></td></tr>
                <tr><td>Position Type: <a th:href="@{/list/jobs(column='positionType',value=${job.positionType})}" th:text="${job.positionType}"></a></td></tr>
                <tr><td>Skill: <a th:href="@{/list/jobs(column='coreCompetency',value=${job.coreCompetency})}" th:text="${job.coreCompetency}"></a></td></tr>
            </table>

        </th:block>
    </th:block>



</div>
</body>
</html>